@import 'globals';

#setting_list {
    @include flexcolumn;
    
    position: relative;
    overflow: hidden scroll;
}

#setting_list::-webkit-scrollbar {
    display: none;
}

.setting_sep {
    height: 16px;
}

.setting {
    font-family: $font-display;
    color: $settings-default;
    
    display: flex;

    .setting_content {
        display: flex;
        flex-grow: 1;
        flex-shrink: 1;
        margin: 1px;
        padding: 7px 8px;
        margin: 0 8px;
        cursor: pointer;
        user-select: none;

        .setting_icon_container {
            margin-right: 6px;
        }

        .setting_name {
            line-height: 20px;
            font-size: 16px;
            font-weight: 400;
            text-overflow: ellipsis;
        }
    }

    .setting_content:hover {
        background-color: $background-modifier-hover;
        color: $interactive-hover;
    }
}